@font-face {
	font-family: Skincake;
	src: url(./assets/fonts/Skincake.otf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
	height: 100%;
	filter: invert(100%);
}

body {
	background-color: rgb(191, 191, 191);
}

/* Header */

header {
	background-color: #56cb94;
	text-align: center;
	color: white;
	font-family: Skincake;
	padding: 10px 0;
}

@media screen and (max-width: 480px) {
	h1 {
		font-size: 20px;
	}
}

/*  */

/* Main */

#input_container {
	max-width: 1400px;
	margin: auto;
	padding: 10px 0;

	display: flex;
}

#input_container input {
	width: 100%;
	padding: 5px;
	border-radius: 3px;
	border: none;
}

#input_container input:focus {
	outline: 3px solid #56cb94;
	border: none;
}

#input_container button {
	margin-left: 10px;
	color: white;
	background-color: #56cb94;
	border: none;
	padding: 5px;
	width: 15%;
	border-radius: 3px;
}

#input_container button:hover {
	cursor: pointer;
	background-color: #37ab75;
}

#icone_container {
	display: none;
}

/* #icone_container */

@media screen and (max-width: 480px) {
	#input_container input {
		padding: 2px;
	}

	#icone_container {
		display: block;
	}

	button span {
		display: none;
	}
}

#taches_container {
	max-width: 1400px;
	margin: auto;
	background-color: white;
	border-radius: 3px;
	padding: 5px;
}

ul {
	list-style: none;
}

li {
	background-color: rgb(218, 218, 218);
	text-transform: uprgb(203, 203, 203);
	padding: 5px;
	margin-top: 5px;
}

@media screen and (max-width: 1400px) {
	#taches_container,
	#input_container {
		margin: 0 10px;
	}
}

/*  */
