@font-face {
	font-family: Skincake;
	src: url(./assets/fonts/Skincake.otf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: #56cb94;
	text-align: center;
	color: white;
	font-family: Skincake;
	padding: 10px 0;
}
